* {
    box-sizing: border-box;
}

div {
    width: 150px;
    height: 150px;
    background-color: blanchedalmond;
    margin-bottom: 5px;
    border-radius: 4px;

}

.click {
    background-color: lightsalmon;
}

.buttons {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 10px;

}